-# coding: utf-8
!!! 5
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      YeBay
    %meta{:charset => "utf-8"}/
    %link{:rel => "shortcut icon", :href=>"/icons/icon57x57.png"}/
    %link{:rel => "apple-touch-icon-precomposed", :sizes=>"57x57", :href=>"/icons/icon57x57.png"}/
    %link{:rel => "apple-touch-icon-precomposed", :sizes=>"72x72", :href=>"/icons/icon72x72.png"}/
    %link{:rel => "apple-touch-icon-precomposed", :sizes=>"114x114", :href=>"/icons/icon114x114.png"}/
    
    %meta{:name => "keywords", :value => "YeBay"}
    %meta{:name => "description", :value => "Itemes of importe of which ye may purchase to thine heart's content"}
    %meta{:name => "MSSmartTagsPreventParsing", :content => "true"}/
    %meta{:"http-equiv" => "X-UA-Compatible", :content => "chrome=1"}/
    %meta{:name=>"viewport", :content=>"width=device-width,initial-scale=1;maximum-scale=1;minimum-scale=1;user-scalable=no;"}/
    %meta{:name=>"apple-mobile-web-app-capable", :content=>"yes"}/
    %meta{:name=>"apple-mobile-web-app-status-bar-style", :content=>"black"}/
    %link{:href => "/stylesheets/application.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}/
    
    = favicon_tag '/favicon.ico'
    %script{:src=>"/assets/modernizr.js",:type=>"text/javascript"}
  
    <script type="text/javascript" src="http://use.typekit.com/udt4qyx.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

  %body{:id=>(request.path.split("/")[1] rescue "")}
    .page
      %header#header{:class=>("large" if @home)}       
        %h1#logo
          %a{:title=>"YeBay", :href=>"/"} YeBay
        %h2
          Itemes of importe of which ye may purchase to thine heart's content.
      
      %section.content
        = yield
      %footer  
        %p
          And so it it was that this Hacke of Culture was brought into the World by
          %a{:href=>"http://stef.io"} Stef

  = yield_content :scripts
  = "<!-- Rendered at #{Time.now} -->"